@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Comune.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaveSerene.Default.ComuneGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>