@{
    ViewData["Title"] = "PIAE";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaveSerene.Default.PianoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>