@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Rendiconti Cava";//Localizer.Get("Db.Default.Rendiconto.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaveSerene.Default.RendicontoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>